* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* All page and playground */

body {
    background-image: linear-gradient(120deg, black, white);
    height: 100vh;
}

.playground {
    width: 80%;
    height: 80%;
    background: rgba(194, 11, 240, 0.281);
    position: relative;
    top: 10%;
    left: 10%;
}

/* Total score */

.total_score {
    font-size: 30px;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
 
}

.total_score:hover {
    border: 3px solid black;
    border-radius: 15px;
}

.total_score p:nth-of-type(2) {
    font-size: 40px;
    text-align: center;
}

.total_score0 {
    position: absolute;
    top: 15%;
    left: 10%;
}

.total_score1 {
    position: absolute;
    top: 15%;
    right: 10%;
}


/* Current score */

.current_score {
    width: 150px;
    height: 150px;
    background: rgba(70, 67, 67, 0.349);
    border-radius: 20px;
}
  
.current_score p {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1.5rem;
}

.current_score p:nth-child(2) {
    font-size: 40px;
}

.current_score0 {
    position: absolute;
    top: 40%;
    left: 12%;
}

.current_score1 {
    position: absolute;
    top: 40%;
    right: 12%;
}